/*FONTS*/

@font-face {
    font-family: 'DINProRegular';
    src: url('../font/dinpro-regular.eot');
    src: url('../font/dinpro-regular.eot') format('embedded-opentype'),
         url('../font/dinpro-regular.woff') format('woff'),
         url('../font/dinpro-regular.ttf') format('truetype'),
         url('../font/dinpro-regular.svg#DINProRegular') format('svg');
}

@font-face {
    font-family: 'DINProMedium';
    src: url('../font/dinpro-medium.eot');
    src: url('../font/dinpro-medium.eot') format('embedded-opentype'),
         url('../font/dinpro-medium.woff') format('woff'),
         url('../font/dinpro-medium.ttf') format('truetype'),
         url('../font/dinpro-medium.svg#DINProMedium') format('svg');
}

@font-face {
    font-family: 'DINProBold';
    src: url('../font/dinpro-bold.eot');
    src: url('../font/dinpro-bold.eot') format('embedded-opentype'),
         url('../font/dinpro-bold.woff') format('woff'),
         url('../font/dinpro-bold.ttf') format('truetype'),
         url('../font/dinpro-bold.svg#DINProBold') format('svg');
}

body {background: #061828;margin:0;padding: 0;overflow: hidden;font-family: 'DINProRegular', arial, sans-serif;}

/***********************************************CONNEXION*****************************************************************/

#background {width: 100%;height: 100%;background: url(img/background.png) center no-repeat;padding-top: 250px;margin: 0;background-size: cover;}

#connexion div {width: 293px; height: 70px;background: url(img/logo.png);margin: auto;}
#connexion p {color: #f2f2f2;}
#connexion p:nth-child(2) {font-size: 1em;width: 800px;text-align:center;margin: 30px auto 50px;}
#connexion p:nth-child(4) {font-size: .8em;width: 100%;text-align:center;margin:auto;bottom:15px;position: absolute;}
#connexion a {width: 200px; height: 161px;background: url(img/sprite_bouton_connexion.png) 0 0;display: block;margin: auto;}
#connexion a:hover {background: url(img/sprite_bouton_connexion.png) 227 0;}

/***********************************************NOTE*****************************************************************/
#note {width: 100%;height: 0%;background:rgba(9, 30, 51, .95);z-index:996;position: absolute;-webkit-transition:all ease .8s .5s;
opacity: 0;}
#note.on {height: 100%;opacity: 1;}
#note.on a {display: block;width: 40px;height: 40px;right: 20;top:20;position: absolute;background:url(img/sprite.png) 0 -360;-webkit-transition:all ease .3s;}
#note.on a:hover { -webkit-transform:rotate(90deg);}
#note p {font-family: 'DINProBold';font-size: 3em;color: #f2f2f2;text-align: center;text-transform: uppercase;margin-top: -55px;
-webkit-transition:all ease .5s;}
#note.on p {opacity: 1;margin-top:20px;}

/***********************************************DATAVIZ*****************************************************************/

#content {background: #00182b; width:100%;height:100%;-webkit-transition:all ease .5s;padding:0px 5px 0px 25px;z-index:994;position: absolute;
-moz-box-shadow: -2px 0px 15px 0px rgba(0,0,0, .5);
-webkit-box-shadow: -2px 0px 15px 0px  rgba(0,0,0, .5);
-o-box-shadow: -2px 0px 15px 0px  rgba(0,0,0, .5);
box-shadow: -2px 0px 15px 0px  rgba(0,0,0, .5);}
#content.on {margin-left:30%;}
#content header nav {display: inline-block;}
#content header nav a {width: 30px; height:25px; background:url(img/sprite.png) 0 -332; display: block;-webkit-transition:all .2s;
margin-top: 35px;}
#content header nav a:hover {background:url(img/sprite.png) -41 -332;}
#content header div {width: 293px; height: 70px;background: url(img/logo.png);display: inline-block;vertical-align: top; margin-left: 25px;border-radius: 2px;
margin-top: 20px;}

#menu {background: #061828; width:30%;height:100%;display: inline-block; vertical-align: top;z-index:993;
position: absolute;top:0;left:0;padding: 0px;margin: 0;}
#info{width: 100%;padding: 0px 20px 20px 0px;}
#info > p:nth-child(1){font-size: 1.5em;color:#1abc9c ;background: url(img/sprite.png) no-repeat 0 -28;padding: 0px 0px 0px 50px;margin-left: 20px}
#info div:nth-child(2) {width: 110px;height:110px;background: url(img/photo.png);border-radius: 100%;overflow: hidden;border: 3px solid #e74c3c;
margin: 50px auto 0px;}
#info div:nth-child(3) {margin: 20px auto ;text-align: center;}
#info div:nth-child(3) > p {color: #f2f2f2;text-transform: uppercase;margin: 2px;}
#info div:nth-child(3) > p:nth-child(1) {font-family: 'DINProRegular';}
#info div:nth-child(3) > p:nth-child(2) {font-family: 'DINProMedium';}

#visualisation {width: 100%;height: 50px;background: #f2f2f2;margin-top: 20px;padding: 2px 0px 23px 0px;border-top: 3px solid #1abc9c;
border-bottom: 3px solid #1abc9c;}
#visualisation p {font-family: 'DINProBold';background: url(img/sprite.png) no-repeat 0 -152;color:#1abc9c;text-transform: uppercase;font-size: 1.4em;
padding-left:45px;margin-left: 20px;}
#visualisation nav {width:100%;}
#visualisation nav ul {list-style-type: none;margin: 0;padding: 0;}


#visualisation nav ul li {background: transparent;margin: 0;padding: 25px 10px 25px 10px;border-bottom: 2px solid #f2f2f2;}
#visualisation nav ul li a {text-transform: uppercase;text-decoration: none;color: #f2f2f2;margin-left: 55px;-webkit-transition:margin ease .2s;
display: block;}
#visualisation nav ul li a:before {content:'';position: absolute;}
#visualisation nav ul li:first-child:hover {background: #f2f2f2;border-top: 1px solid #1abc9c;border-bottom: 2px solid #1abc9c;}
#visualisation nav ul li:hover {background: #f2f2f2;border-bottom: 2px solid #1abc9c;}
#visualisation nav ul li:hover a {color:#1abc9c;margin-left: 75px;}

#visualisation nav ul li:nth-child(1) a:before {width:40px;height:41px;background: url(img/sprite.png) no-repeat 0 -184;margin: -12px 0px 0px -40px;}
#visualisation nav ul li:nth-child(1):hover a:before {background: url(img/sprite.png) no-repeat -40 -184;}

#visualisation nav ul li:nth-child(2) a:before {width:29px;height:27px;background: url(img/sprite.png) no-repeat 0 -232;margin: -4px 0px 0px -40px;}
#visualisation nav ul li:nth-child(2):hover a:before {background: url(img/sprite.png) no-repeat -40 -232;}

#visualisation nav ul li:nth-child(3) a:before {width:40px;height:41px;background: url(img/sprite.png) no-repeat 0 -259;margin: -12px 0px 0px -45px;}
#visualisation nav ul li:nth-child(3):hover a:before {background: url(img/sprite.png) no-repeat -40 -259;}

#visualisation nav ul li:nth-child(4) a:before {width:33px;height:28px;background: url(img/sprite.png) no-repeat 0 -301;margin: -0px 0px 0px -45px;}
#visualisation nav ul li:nth-child(4):hover a:before {background: url(img/sprite.png) no-repeat -40 -301;}

#visualisation nav ul li a span {font-family: 'DINProBold';}

#visualisation > a {text-decoration: none;text-transform: uppercase;color: #f2f2f2;margin-top: 80px;text-align: center;display: block;-webkit-transition:all ease .2s;}
#visualisation > a:before {width:18px;height:24px;content:'';position: absolute;background: url(img/sprite.png) no-repeat 0 0;margin: 0px 0px 0px -30px;
-webkit-transition:all ease .2s;}
#visualisation > a:hover {color: #3499d1;}
#visualisation > a:hover:before {width:18px;height:24px;content:'';position: absolute;background: url(img/sprite.png) no-repeat -20 0;}

#deconnexion {text-decoration: none;width:100%;text-align:center;color:#f2f2f2;font-size: .7em;position: absolute;bottom:30px;text-transform: uppercase;
margin: auto;}
#deconnexion:hover {text-decoration: underline;}

svg{width: 70%;height: 700px;margin: auto;}

.echelleDistance, .echelleCat, .echelleExterieur{opacity: 0.2;}