circle.little {
    fill: #AAAAAA;
    stroke: #666666;
    stroke-width: 1.5px;
}

.data rect {
    fill: #EEEEEE;
    stroke: #CCCCCC;
}
#pool{
	width: 100%;
	height: 100%;
}
svg {
	background-color: #00182b;
	width: 70%;
	height: 700px;
	margin: auto;
}
.invisible{
	opacity: 0.2;
}